
body {
    background-color: #252525;
    -webkit-font-smoothing: none;

}

@font-face {
    font-family: nes;
    src: url('../../assets/fonts/NES-Logo.ttf');
}

a {
    color: #9a969a;
}

a:hover, a:focus {
    color: #e3e7e2;
}


#screen {
    display: block;
    padding: 3px;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid #5c5d59;
    background: #000;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.75);
}

#footer {
    width : 150px;
    padding: 5px;
    background: #1c1c1c;
    margin:0 auto;
    margin-top: 30px;
    border-radius: 2px;
    color: #5e5e5e;
}

.menu {
    width: auto;
    height: 40px;
}

.logo {
    float: left;
    color: #f6382b
}

.menu-item {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    background: #424242;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    color: #e1e5e0;
}



.middle {
    width: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    font-family: nes;
    font-size: 2em;

}

canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.panel {
    position: fixed;
    right: -30.625em;
    width: 30.625em;

}