
body {
    background-color: #252525;
    -webkit-font-smoothing: none;
    overflow-y: hidden;
}

@font-face {
    font-family: nes;
    src: url('../../assets/fonts/NES-Logo.ttf');
}

a {
    color: #9a969a;
}

a:hover, a:focus {
    color: #e3e7e2;
}

#screen-container {
    display: block;
    position: relative;
    padding: 3px;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid #5c5d59;
    background: #000;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.75);
}

#footer {
    width : 150px;
    padding: 5px;
    background: #1c1c1c;
    margin:0 auto;
    margin-top: 30px;
    border-radius: 2px;
    color: #5e5e5e;
}

.menu {
    width: auto;
    height: 40px;
}

.logo {
    float: left;
    color: #f6382b
}

.menu-item {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    background: #424242;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    color: #e1e5e0;
}



.middle {
    width: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    font-family: nes;
    font-size: 2em;

}

canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.panel {
    position: fixed;
    right: -30.625em;
    width: 30.625em;

}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.clickable {
	cursor: pointer; 
	cursor: hand; 
}

#netplay {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

#netplay #connections {
    float: right;
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.65);
    border: 2px solid #5c5d59;
    border-radius: 4px;
    height: 32px;
    box-sizing: border-box;
}

#netplay #connections .inner {
    line-height: 28px;
    border: 0px solid #222222;
}

#netplay #connections .inner i {
    cursor: default;
}

#netplay #room {
    float:left;
    height: 32px;
    width: calc(100% - 60px);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.65);
    border: 2px solid #5c5d59;
    border-radius: 4px;
    background: #1a1a1a none repeat scroll 0 0;
}

#netplay #room .label {
    float: left;
    height: 100%;
    width: 55px;
    font-weight: bold;
    font-size: 12px;
    background: #4c4d49;
    color: #a3a3a3;
    line-height: 18px;
    text-align: center;
    border-right: 2px solid #565656;
}


#netplay #room .inner {
    width: calc(100% - 55px);
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 0px solid #222222;

}

#netplay #room .inner input {
    color: #a6a6a6;
    font-size: 12px;
    background: none;
    border: 0px;
    height: 28px;
}


#netplay .inner {
    border: 2px solid #000;
    border-radius: 4px;
    padding-bottom: 0px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    background: #1f1f1f none repeat scroll 0 0;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.none {
    display: none;
}

.inline-block {
    display: inline-block; !important;
}

.tiptop {
    position: absolute;
    z-index: 9999;
    max-width: 150px;
    padding: 5px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #373737;
    border-radius: 3px;
    border: 1px solid #262626;
}